.paragraph {
    text-align: center;
    font-family: Ubuntu Mono;
    font-size: large;
    padding: 60px;
    padding-top: 20px;
}

body {
    background-color: #f0c0c0;
}

.dark-mode {
    background-color: #7f7f7f;
    color: white;
}

.toggle-btn {
    font-family: Ubuntu Mono;
}
